:root {
    --white : #fff;
    --darkgrey : #373737;
    --darkgrey2 : #717073;
    --lightgrey : #DEDEDE;
    --hansans: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    --blue :#477CE1;
    --black : #12161A;
    --nanummyeongjo : 'Nanum Myeongjo', 'serif';
    --nanumbarungothic:'NanumBarunGothic';
}

body, ul, li, h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}

.container {width:1024px; margin:0 auto;}

#main_header {
    position:fixed;
    z-index: 10;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:80px;
    background:var(--white);
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
}
#main_header .logo {padding:20px; float:left;}
#main_header .logo img {vertical-align: middle;}
#main_header .logo img:last-child {margin-left:8px;}

#main_header #main_menu {float:right; line-height:80px;}
#main_header #main_menu ul {list-style:none;}
#main_header #main_menu li {
    list-style:none;
    display:inline-block;
    margin-right: 37px;
    font-family: var(--hansans);
    letter-spacing: 0.05em;
}
#main_header #main_menu li:last-child {margin:0;}
#main_header #main_menu li a {text-decoration:none; color:var(--darkgrey); font-size:16px;}

#main_banner {background:#fff; height:400px; width:100%;margin-top:80px; position: relative;}
#main_banner .word {
    position:absolute;
    top:130px;
    font-family:var(--nanummyeongjo); letter-spacing: 0.05em; line-height: 56px;

}
#main_banner .word h2 {
    font-size:36px;
    color:var(--blue);
    font-weight:normal;
}
#main_banner .word h1 {
    color:var(--black);
    font-weight:normal;
    font-size:48px;
}
#main_banner .word h3 {
    color:var(--darkgrey2);
    font-weight:normal;
    font-size:20px;
}

#main_banner .blur {
    position:absolute;
    background:red;
    width:300px;
    height:100%;
    left:40%;
    background: linear-gradient( to right, var(--white), transparent );
}
#main_banner .banner {
    float:right;
    height:100%;
    width:60%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:left center;
}


main>section {margin-top:80px;}

#select_form{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap:20px;
}

#select_form button{
    background:var(--blue);
    border:0;
    border-radius:20px;
    color:var(--white);
    text-shadow:1px 1px 1px rgba(0,0,0,.5);
    font-size:18px;
    font-family: var(--nanumbarungothic);
    height:40px;
    width:100%;
    transition: .3s;
    cursor:pointer;
}

#select_form button:hover {
    box-shadow: 0 4px 50px rgba(0,0,0,.3);
}

#select_form > .select_view >select {
    border:1px solid var(--blue);
    height:40px;
    padding:0 26px 0 13px;
    width:100%;
    font-size:16px;
    letter-spacing: 0.05em;
    appearance:none;
    background:url('./asset/select_icon.svg') no-repeat right 9px center;
    border-radius:5px;
}


.section_header {margin-bottom:30px;}

.section_header h1, .section_header small {display:inline-block;}

.section_header h1 {
    vertical-align: middle;
    font-size:28px;
    color:var(--blue);
    font-family: var(--nanumbarungothic);
}

.section_header small {
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 300;
    margin-left: 10px;
}

.latest_list{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}



.latest_widget {
    border:1px solid var(--lightgrey);
    border-radius: 15px;
    overflow: hidden;
    transition: .3s;
}

.latest_widget:hover{
    box-shadow:0 5px 30px rgba(0,0,0,.25);
}

.latest_widget > .latest_header {
    height:45px;
    background:var(--blue);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 16px;
}

.latest_widget > .latest_header > a {color:var(--white); font-size:12px;}

.latest_widget > .latest_header > h2 {
    font-size:16px;
    color:var(--white);
}

.latest_widget > .latest_content {
    padding:0 13px;
}
.latest_widget > .latest_content > ul {
    list-style:none;
}

.latest_widget > .latest_content > ul > li {
    height:40px;
    border-bottom: 1px solid var(--lightgrey);
    line-height:40px;
}
.latest_widget > .latest_content > ul > li:last-child{border:none;}

.latest_widget > .latest_content > ul > li > a {
    font-size:14px;
    color:var(--darkgrey);
    text-decoration: none;
    transition: .3s;
}

.latest_widget > .latest_content > ul > li > a:hover {
    color:#000;
}


#main_footer {background: #2f2f2f; width:100%; padding:30px 0;}
#main_footer .footer_top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lightgrey);
    padding-bottom:10px;
}
#main_footer .footer_top .footer_menu li {display:inline-block; margin-right:20px;}
#main_footer .footer_top .footer_menu li a {color:var(--lightgrey); text-decoration:none; font-size:12px;}
#main_footer .footer_top .copyright {color:var(--lightgrey); font-size:12px;}
#main_footer .footer_content {padding-top:15px; display:flex; justify-content: space-between;}
#main_footer .footer_content .footer_info ul {list-style:none;}
#main_footer .footer_content .footer_info ul li {font-size:12px; color:var(--lightgrey)}